<div class="container mt-5">
    <div class="row detail">
        <div class="col-lg-8 col-md-8 main-content">



            <div class="detail-title">

                <p style="line-height: 125%;"><span style="transform: translateY(-4px);"
                        class="mr-3 d-inline-block detail-category">
                        <a href="">
                            <span>{{post.category_name}}</span>
                        </a>
                    </span>{{post.post_title}}</p>
            </div>
            <div class="header-post-detail">

                <div class="detail-tag align-self-center">#Tags:
                    <a href=""><span>nông nghiệp</span></a>
                    <a href=""><span>gỗ</span></a>
                </div>
                <div class="mt-4 align-self-center"><b>Ngày đăng:</b>
                    <span style="opacity: 0.7;">{{post.published_date}}</span>
                </div>
            </div>


            <div class="image-cover">
                <img src="/media/images/posts/{{post.post_avatar_image}}" alt="{{post.post_title}}">
            </div>



            <div class="detail-content">
                <p>{{{post.post_content}}}
                </p>
            </div>
            <div class="form-comment">

                <form class=" clearfix">
                    <div class="form-group">
                        <label class="title-relative" for="txtComment">Ý kiến của bạn</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Bình luận</button>
                </form>




            </div>
            <div class="list-comment mt-5">
                <label class="title-relative" for="txtComment">Bình luận (1)</label>
                <div class="mt-3">
                    <div class="comment-title d-flex justify-content-between">
                        <div class="comment-author">Viet</div>
                        <div class="comment-day">14-9-2019</div>
                    </div>
                    <div class="comment ml-3 mt-2">

                        <div class="comment-content">
                            <p>Ổn</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mt-3">
                    <div class="comment-title d-flex justify-content-between">
                        <div class="comment-author">Viet</div>
                        <div class="comment-day">14-9-2019</div>
                    </div>
                    <div class="comment ml-3 mt-2">

                        <div class="comment-content">
                            <p style="line-height: 125%;">internal/process/next_tick.js:81:5)
                                (node:11493) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error
                                originated either by throwing inside of an async function without a catch block, or by
                                rejecting a promise which was not handled with .catch(). (rejection id: 1)
                                (node:11493) [DEP0018] DeprecationWarning: Unhandled prom</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="right-cont" style="overflow: hidden;" class="col-lg-4 col-md-4 post-relative pr-4">
            <div style="margin-left: 0px !important;" class="row title-relative">
                <span>Cùng chuyên mục</span>
            </div>
            <div class="item-top-10">
                <a href="/post/post_sample">
                    <div class=" row">
                        <div class="col-md-6">
                            <div class="image-item">
                                <img src="/media/images/cn-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item-topic">
                                <span class="topic">KINH TẾ</span>
                            </div>
                            <div class="item-title">
                                <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
                            </div>
                            <div class="item-day">
                                <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <script>
        console.log('{{post.post_title}}')
    </script>
</div>