{{#section 'moreCss'}}
<link rel="stylesheet" href="/css/dashboardUsers.css">
<link rel="stylesheet" href="/css/pagination.css">
<link rel="stylesheet" href="/css/loading/loading.css">
<link rel="stylesheet" href="/css/spinjs/spin.css">
<link rel="stylesheet" href="/css/dialog.css">
{{/section}}

{{#section 'moreJs'}}
<script>
  var pageCount = {{ data.pages.length }}
  var currentPage = {{ data.thisPage }}
  var users = '{{#jsonStringify data.users}}{{/jsonStringify}}'
  users = JSON.parse(users)
</script>
<script src="/js/dialog.js"></script>
<script src="/js/loading/loading.js"></script>
<script src="/js/spinjs/spin.js"></script>
<script src="/js/dashboardUsers.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="/js/moment.min.js"></script>
{{/section}}

<div id="userListContainer" class="w-100 p-2">
  <div id="filters" class="w-100">
    <select class="custom-select" id="roleSelection" style="width: 200px;" onchange="filterUsersByRole()">
      <option value="ALL" {{#if (opt data.selectedRole '===' 'ALL' opt)}}selected{{/if}}>Role: All</option>
      <option value="ADMIN" {{#if (opt data.selectedRole '===' 'ADMIN' opt)}}selected{{/if}}>Role: Admin</option>
      <option value="EDITOR" {{#if (opt data.selectedRole '===' 'EDITOR' opt)}}selected{{/if}}>Role:Editor</option>
      <option value="SUBSCRIBER" {{#if (opt data.selectedRole '===' 'SUBSCRIBER' opt)}}selected{{/if}}>Role:Subscriber
      </option>
      <option value="WRITER" {{#if (opt data.selectedRole '===' 'WRITER' opt)}}selected{{/if}}>Role:Writer</option>
    </select>
  </div>
  <div id="usersList" class="w-100 d-flex flex-wrap">
    {{#each data.users}}
    <div class="userItem border rounded m-2 d-flex p-1">
      <div class="userItem__avatarAndRole">
        <div class="userItem__avatarAndRole__avatar">
          <img
            src="/media/images/users/{{#if (opt this.avatar '===' null opt)}}avatar_sample.png{{else}}{{this.avatar}}{{/if}}"
            alt="">
        </div>
        <div class="userItem__avatarAndRole__role d-flex justify-content-center align-items-center">
          <span class="badge badge-success p-1">
            {{#if (opt this.role '===' 'SUBSCRIBER' opt)}}
            Subscriber
            {{else}}

            {{#if (opt this.role '===' 'WRITER' opt)}}
            Writer
            {{else}}

            {{#if (opt this.role '===' 'EDITOR' opt)}}
            Editor
            {{else}}
            Admin
            {{/if}}

            {{/if}}

            {{/if}}
          </span>
        </div>
      </div>
      <div class="userItem__info pl-1 pr-1">
        <div class="userItem__info__account">
          <b>{{this.account}}</b>
        </div>
        <div class="userItem__info__fullname">
          <i>{{this.fullname}}</i>
        </div>
        <div class="userItem__info__email">
          <i>{{this.email}}</i>
        </div>
      </div>
      <button type="button" class="userItem__controls__icon btn btn-secondary">
        <i class="fas fa-angle-double-down"></i>
      </button>
      <div class="userItem__controls__buttons">
        <button type="button" class="btn btn-info" onclick="showUserInfo('{{this.account}}')"><i
            class="fas fa-info"></i></button>
        {{#if (opt (opt this.role '!==' 'ADMIN' opt) '&&' (opt this.role '!==' 'WRITER' opt) opt)}}
        <button type="button" class="btn btn-warning" onclick="editUser('{{this.account}}')"><i
            class="fas fa-pen"></i></button>
        {{/if}}
        <button type="button" class="btn btn-danger" onclick="deleteUser('{{this.account}}')"><i
            class="fas fa-trash-alt"></i></button>
      </div>
    </div>
    {{/each}}
  </div>
  {{#if data.pages.length}}
  <div class="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" onclick="goToPreviousPage()">
          <a class="page-link" href="javascript:;" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {{#each data.pages}}
        <li class="page-item" onclick="goToPage(this)">
          <a class="page-link page{{#if (opt this.pageNum '===' ../data.thisPage opt)}} page-active{{/if}}"
            href="javascript:;">{{this.pageNum}}</a></li>
        {{/each}}
        <li class="page-item" onclick="goToNextPage()">
          <a class="page-link" href="javascript:;" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {{else}}
  <h6 class="text-center font-italicc text-secondary p-1">No any user</h6>
  {{/if}}
</div>

{{!-- <div class="user-list-container">
  <table class="user-list">
    <thead class="user-list__header">
      <tr class="user-list__row">
        <th class="user-list__cell">User</th>
        <th class="user-list__cell">Account</th>
        <th class="user-list__cell">Birthday</th>
        <th class="user-list__cell">Rule</th>
        <th class="user-list__cell">Status</th>
        <th class="user-list__cell user-list__control-icon"></th>
      </tr>
    </thead>
    <tbody class="user-list__content">
    </tbody>
  </table>
  <div class="pagination">
    <!--<ul class="">
        <li class="pagination__item pagination__item-control pagination__item-previous-button">
          <i class="pagination-icon pagination-icon-arrow-left"></i>
        </li>
        <li class="pagination__item pagination__item-control pagination__item-next-button">
          <i class="pagination-icon pagination-icon-arrow-right"></i>
        </li>
      </ul>-->
  </div>
</div> --}}
