{{#section 'moreJs'}}
<script>
  var highlightPosts = '{{#jsonStringify data.highlightPosts}}{{/jsonStringify}}'
  console.log('highlight', JSON.parse(highlightPosts))
</script>
{{/section}}
<section class="top-body container mt-1">
  <div class="row">
    <!-- tag nổi bật và tin mới -->
    <div class="hightlight-content col-lg-8 col-md-12">
      <div class="tag-name mb-3">#Tags:
        <span>
          <a href="/tag/tag_sample">
            <span class="tag">Mecerdes</span>
          </a>
          <a href="/tag/tag_sample">
            <span class="tag">AVG</span>
          </a>
        </span>
      </div>
      <!-- slick image -->
      <div class="slick-image">
        {{#each data.highlightPosts}}

        <div class="item-hightlight">
          <a href="/post/{{this.alias}}">
            <div class="img-link">
              <img src="/media/images/posts/{{this.postAvatarImage}}" alt="">
            </div>
            <div class="img-content">
              <div class="d-flex topic-post align-items-start align-content-center">
                <p class="topic">{{this.category.categoryName}}</p>
                {{#if this.premium}}<span class="badge badge-warning p-2"
                  style="margin-top: -20px; z-index: 1;">Premium</span>{{/if}}
              </div>
              <p class="title-post">
                {{this.postTitle}}
              </p>
              <p class="date-post">Ngày đăng: <i>{{#viDate this.publishedDate}}{{/viDate}}</i></p>
            </div>
          </a>
        </div>

        {{/each}}

        {{!-- <div class="item-hightlight">
          <a href="/post/post_sample">
            <div class="img-link">
              <img src="media/images/vh-1.jpg" alt="">
            </div>
            <div class="img-content">
              <div class="d-flex topic-post">
                <p class="topic">VĂN HÓA</p>
              </div>
              <p class="title-post">Tìm thấy căn nhà Shakespeare ngồi viết ‘Romeo và Juliet’</p>
              <p class="date-post">Ngày đăng: <i>15-4- 2019</i></p>
            </div>
          </a>
        </div>
        <div class="item-hightlight">
          <a href="/post/post_sample">
            <div class="img-link">
              <img src="media/images/tt-1.jpg" alt="">
            </div>
            <div class="img-content">
              <div class="d-flex topic-post">
                <p class="topic">THỂ THAO</p>
              </div>
              <p class="title-post">Thua sốc Lille 1-5, PSG lại lỡ cơ hội vô địch sớm Ligue I</p>
              <p class="date-post">Ngày đăng: <i>15-4- 2019</i></p>
            </div>
          </a>
        </div> --}}
      </div>
    </div>
    <div class="new-content col-lg-4 col-md-12 ">
      <div class="title-new"><span class="new-news">Tin mới nhất</span></div>
      <div style="overflow: hidden auto" class="slick-new-image bao-dien-tu-scrollbar">
        {{#each data.latestPosts}}

        <div class="new-post"
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),  url(/media/images/posts/{{this.post_avatar_image}})">
          <a href="/post/{{this.post_alias}}">
            <div class="d-flex topic-post">
              <p class="topic">{{this.category_name}}</p>
              {{#if this.premium}}<span class="badge badge-warning p-2 ml-2">Premium</span>{{/if}}
            </div>

            <p class="title-post">
              {{this.post_title}}
            </p>
            <p class="date-post"><strong>Ngày đăng:</strong> <i class="date-post"></i>{{this.published_date}}</p>
          </a>
        </div>

        {{/each}}

      </div>

    </div>
  </div>
</section>
<section class="mid-body container mt-3">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div class="top-10"><span>Top 10 chuyên mục</span></div>
      <div class="top-10-content bao-dien-tu-scrollbar">
        {{#each data.topCategoryWithPosts}}
        <div class="item-top-10">
          <a href="/post/{{this.alias}}">
            <div class=" row">
              <div class="col-md-6">
                <div class="image-item">
                  <img src="/media/images/posts/{{this.postAvatarImage}}" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="item-topic">
                  <span class="topic">
                    {{this.category.categoryName}}
                  </span>
                </div>
                <div class="item-title">
                  <span class="title">
                    {{this.postTitle}}
                  </span>
                </div>
                <div class="item-day">
                  <span class="day"><strong>Ngày đăng:</strong> <i
                      class="date-post">{{#viDate this.publishedDate}}{{/viDate}}</i></span>
                </div>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="most-view-content container col-md-12 col-lg-8">
      <div class="most-view"><span>Xem nhiều nhất</span> </div>
      <div style="margin-top: 16px;" class="list-mv row bao-dien-tu-scrollbar">
        {{#each data.muchViewPosts}}

        <div class="mv col-md-4">
          <div class="item-most-view">
            <a href="/post/{{this.alias}}">
              <div class="mv-image">
                <img src="/media/images/posts/{{this.postAvatarImage}}" alt="">
                <div class="mv-topic" style="margin: -10px 0 0 10px;">
                  <span class="topic">
                    {{this.category.categoryName}}
                  </span>
                </div>
              </div>
              <div class="mv-title">
                <span class="title">
                  {{this.postTitle}}
                </span>
              </div>

              <div class="mv-day ">
                <span class="day">
                  <strong>Ngày đăng:</strong>
                  <i class="date-post">{{#viDate this.publishedDate}}{{/viDate}}</i>
                </span>
              </div>
            </a>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
  </div>
</section>
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/css/slick/slick.min.js"> </script>
<script src="/js/index.js"></script>
<script src="/js/slideout.min.js"> </script>
<script>
  var slideout = new Slideout({
    'panel': document.getElementById('wrapper'),
    'menu': document.getElementById('menu'),
    'padding': 200,
    'tolerance': 50
  });
</script>
<script>
  window.onload = function () {
    document.querySelector('.js-slideout-toggle').addEventListener('click', function () {
      slideout.toggle();
    });

    document.querySelector('.menu').addEventListener('click', function (eve) {
      if (eve.target.nodeName === 'A') {
        slideout.close();
      }
    });

    // var runner = mocha.run();
  };
</script> --}}
