<div class="container">
  <div class="header">
    <!-- <div class="title-category">
          <span>KINH TẾ</span>
        </div> -->
    <!-- <div class="title-category-right"><span>BÀI VIẾT LIÊN QUAN</span></div> -->
  </div>
  <!-- content -->
  <div class="row content">
    <div class="col-md-8 list-content" style="border:none;">
      <div class="title-category">
        <span>Kết quả tìm kiếm: {{data.search}} ({{data.posts.length}})</span>
      </div>
      {{#each data.posts}}
      <div class="item-top-10">
        <a href="/post/{{this.post_alias}}">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="image-item">
                <img src="/media/images/posts/{{this.post_avatar_image}}" alt="{{this.post_title}}">
              </div>
              <div style="top: 16px; left: 32px;" class="item-topic position-absolute">
                <span class="topic">{{this.category_name}}</span>
              </div>
            </div>
            <div class="col-md-8">

              <div class="item-title">
                <span class="title">{{#if this.premium}}<i class="fa fa-star"
                    aria-hidden="true"></i>{{/if}}{{this.post_title}}</span>
              </div>
              <div class="item-description">
                <p>{{this.post_summary}}
                </p>
              </div>
              <div class="item-day">
                <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">{{this.published_date}}</i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}

    </div>
    <!-- post relative -->




    {{!-- <div id="right-cont" style="overflow: hidden;" class="col-lg-4 col-md-4 post-relative pr-4">
      <div style="margin-left: 0px !important;" class="row title-relative">
        <span>Tin nổi bật</span>
      </div>
      <div class="item-top-10">
        <a href="/post/post_sample">
          <div class=" row">
            <div class="col-md-6">
              <div class="image-item">
                <img src="/media/images/cn-1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="item-topic">
                <span class="topic">KINH TẾ</span>
              </div>
              <div class="item-title">
                <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
              </div>
              <div class="item-day">
                <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div> --}}

  </div>
  <!-- pagination -->

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
    {{#each data.count}}
    <li class="page-item">
      <a class="page-link{{#if (opt ../data.thisPage '===' this.data opt)}} page-active{{/if}}"
        href="/search/result?search={{../data.search}}&page={{this.data}}">{{this.data}}</a></li>
    {{/each}}
    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
  </ul>

</div>
