<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Digital News</title>
  {{!-- logo --}}
  <link rel="shortcut icon" href="/media/images/logo/logo.png" />
  <!-- bootstrap 4.3 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="/css/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css" />
  <!-- font  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/user_menu.css">
  <link rel="stylesheet" href="/css/list-post.css">
  <link rel="stylesheet" href="/css/post-detail.css">
  <link rel="stylesheet" href="/css/responsive/index.css">
  <link rel="stylesheet" href="/css/responsive/slideout.css">
  <link rel="stylesheet" href="/css/bao_dien_tu_scrollbar.css">

</head>

<body data-spy="scroll" data-target=".new-content" data-offset="10" class="bao-dien-tu-scrollbar">
  <nav id="menu" class="menu">
    <div class="close-menu-button">
      <i class="fas fa-times"></i>
    </div>
    <ul class="menu-list bao-dien-tu-scrollbar">
      <li class="menu-list-item"><a href="/"><i class="fas fa-home home-icon"></i></a></li>

      {{!-- {{#each listParent}}
      {{#if (opt this.children.length '>' 0 opt)}}
      <li class="menu-list-item">
        <a href="/category/{{this.categoryId}}" class="menu-list-item-dropdown__content">
          {{this.categoryName}}<i class="fas fa-caret-down expand-sub-menu-button"></i>
        </a>
        <ul class="menu-list-item-dropdown__menu">
          {{#each this.children}}
          <li class="menu-list-item-dropdown__menu__item">
            <a href="/category/{{this.categoryId}}">{{this.categoryName}}</a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{else}}
      <li class="menu-list-item-dropdown__menu__item">
        <a href="/category/{{this.categoryId}}">{{this.categoryName}}</a>
      </li>
      {{/if}}
      {{/each}} --}}
      <!-- <li class="menu-list-item menu-list-item-dropdown">
                <a href="/category/category_sample" class="menu-list-item-dropdown__content">
                  Kinh tế <i class="fas fa-caret-down expand-sub-menu-button"></i>
                </a>
                <ul class="menu-list-item-dropdown__menu">
                  <li class="menu-list-item-dropdown__menu__item">
                    <a href="/category/category_sample">Nông nghiệp</a>
                  </li>
                  <li class="menu-list-item-dropdown__menu__item">
                    <a href="/category/category_sample">Công nghiệp</a>
                  </li>
                </ul>
      </li> -->


    </ul>
  </nav>
  <!-- <div class="container"> -->
  <div id="wrapper" class="panel">
    <!-- logo or Digital News -->
    <div class="w-100 fixed-top py-3 shadow-sm" style="background-color:white">
      <div class="container d-flex align-items-end justify-content-between">
        <div class="digital-news"><a href="/"><img src="/media/images/logo/brand.png" height="50px"
              alt="logo RST - News" /></a>
        </div>

        <!-- login - register -->
        <div class="first-content d-flex justify-content-between">
          <div class="search mr-3">
            <form class="position-relative d-flex" action="" method="GET" id="searchtForm">


              <i style="align-self: flex-end;transform: translateY(-6px) ;margin-top: 4px;margin-right: 16px;"
                class="fas fa-search search-icon"></i>

              <div class="form-group wrap-input">
                <input style="padding: 0 !important;height: auto;" value="" type="text" class="form-control"
                  name="username" placeholder="Tìm kiếm..." />
                <span class="w-input"></span>
              </div>
              {{!-- <button class="btn btn-primary position-absolute" type="submit">Search</button> --}}
            </form>
          </div>
          <div class="logo">
            <!-- <a href="#"><img src="media/images/logo.png" alt="img"></a> -->
          </div>
          {{#if user}}
          <!-- <img width="40px" height="40px" id="homepage-avatar-user"
            class="rounded-circle overflow-hidden homepage-user-menu-is-collapse" src="{{user.avatar}}" alt="" />
          {{user.fullname}}
          <div class="homepage-user-menu">
            <ul>
              <li class="homepage-user-menu__item">
                <a href="/profile" class="homepage-user-menu__item__content">
                  Your Profile <i class="fas fa-id-card-alt homepage-user-menu__item-icon"></i>
                  {{!-- <i class="user-menu__item__icon user-menu__item__icon-profile"></i> --}}
          </a>
          </li>
          <li class="homepage-user-menu__item">
            <a href="/change-password" class="homepage-user-menu__item__content">
              Change Password <i class="fas fa-user-lock homepage-user-menu__item-icon"></i>
              {{!-- <i class="user-menu__item__icon user-menu__item__icon-change-password"></i> --}}
            </a>
          </li>
          <li class="homepage-user-menu__item">
            <a href="/sign-out" class="homepage-user-menu__item__content">
              Sign Out <i class="fas fa-sign-out-alt homepage-user-menu__item-icon"></i>
              {{!-- <i class="user-menu__item__icon user-menu__item__icon-sign-out"></i> --}}
            </a>
          </li>
          </ul>
        </div> -->
          <div class="position-relative d-flex" style="align-items: flex-end;padding-bottom: 6px;">
            <a href="#" id="avatar-user" class="user-menu-is-collapse login">{{user.fullname}}</a>
            <div class="user-menu">
              <ul>
                <li class="user-menu__item">
                  <a href="/profile" class="user-menu__item__content">
                    Your Profile <i class="fas fa-id-card-alt user-menu__item-icon"></i>
                    {{!-- <i class="user-menu__item__icon user-menu__item__icon-profile"></i> --}}
                  </a>
                </li>
                <li class="user-menu__item">
                  <a href="/change-password" class="user-menu__item__content">
                    Change Password <i class="fas fa-user-lock user-menu__item-icon"></i>
                    {{!-- <i class="user-menu__item__icon user-menu__item__icon-change-password"></i> --}}
                  </a>
                </li>
                <li class="user-menu__item">
                  <a href="/sign-out" class="user-menu__item__content">
                    Sign Out <i class="fas fa-sign-out-alt user-menu__item-icon"></i>
                    {{!-- <i class="user-menu__item__icon user-menu__item__icon-sign-out"></i> --}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{else}} <div class="login-form" style="font-size: 16px;">

            <a href="/sign-in" class="login">Đăng nhập</a> | <a href="/sign-up" class="sign-up"> Đăng kí</a>
            </span>
          </div>
          {{/if}}
        </div>
      </div>

      <hr>

      <!-- topic content -->
      <div class="third-header mt-2">
        <div class="container">
          <div href="#" class="btn-menu js-slideout-toggle"><i class="fas fa-bars"></i></div>
          <div class="menu-topic">
            <ul class="menu-list">
              {{!-- <li class="menu-list-item"><a href="/"><i class="fas fa-home home-icon"></i></a></li> --}}
              {{#each listParent}}
              {{!-- {{#if (opt this.children.length '>' 0 opt)}} --}}

              <li class="menu-list-item dropdown">
                {{#if this.subCategories}}
                <a href="/category/{{this.categoryId}}" class="dropdown-toggle" data-toggle="dropdown">
                  {{this.categoryName}}<b class="caret"></b>
                </a>
                {{else}}
                <a href="/category/{{this.categoryId}}">
                  {{this.categoryName}}<b></b>
                </a>
                {{/if}}
                <ul class="dropdown-menu">
                  {{#each this.subCategories}}
                  <li class="dropdown-item">
                    <a href="/category/{{this.categoryId}}">{{this.categoryName}}</a>
                  </li>
                  {{/each}}
                </ul>
              </li>
              {{!-- {{else}}
              <li class="menu-list-item">
                <a href="/category/{{this.categoryId}}">{{this.categoryName}}</a>
              </li>
              {{/if}} --}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>




    <section id="section-body" style="margin-top: 160px">
      {{{ body }}}

      {{posts}}
    </section>
    <footer id="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="left-content row">
              <div class="digital-news"><a href="/"><img src="/media/images/logo/logo.png" height="50px"
                    alt="logo RST - News" /></a>
              </div>
              <div class=" hotline col-md-3">
                <span class="">Hotline: 088 888 8888</span>
              </div>
              <div style="flex-grow: 1;" class="d-flex justify-content-between">
                <div class="hotline">
                  <span class=""><i class="mr-2 fa fa-id-card-alt" aria-hidden="true"></i>Liên hệ</span>
                </div>
                <div class="hotline">
                  <span class=""><i class="mr-2  fa fa-battery-empty" aria-hidden="true"></i> Chính sách</span>
                </div>
                <div class="hotline">
                  <span class=""><i class="mr-2  fa fa-tint" aria-hidden="true"></i>Nguồn tin</span>
                </div>
                <div class="hotline">
                  <span class=""><i class="mr-2  fa fa-user" aria-hidden="true"></i>Trợ giúp</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


  </div>
  <!-- </div> -->
  {{!-- Js file references --}}
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/css/slick/slick.min.js"> </script>
  <script src="/js/slideout.min.js"> </script>
  {{!-- Custom js --}}
  <script src="/js/user_menu.js"></script>
  <script src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  {{#if message.success}}
  <script>
    swal.fire({
      type: 'success',
      title: 'Success!',
      text: "{{message.success}}",
    })
  </script>
  {{/if}}
  {{#if message.error}}
  <script>
    swal.fire({
      type: 'error',
      title: 'Oops!',
      text: "{{message.error}}",
    })
  </script>
  {{/if}}
</body>

</html>